/* Estilos globales para el cuerpo de la página */
body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34; /* Fondo oscuro similar al de React */
  color: white; /* Color de texto predeterminado */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Asegura que ocupe al menos toda la altura de la ventana */
}

/* Estilos para el contenedor principal de la aplicación */
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Asegura que el contenido se centre verticalmente */
  width: 100%;
  max-width: 900px; /* Ancho máximo para el contenido principal */
  padding: 20px;
  box-sizing: border-box; /* Incluye padding en el ancho total */
}

/* Estilos para el encabezado de la aplicación */
.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px 0;
  width: 100%;
}

/* Estilos para el contenido principal (donde se renderizarán las rutas) */
.App-main-content {
  background-color: #3a3f47; /* Un color ligeramente diferente para el área de contenido */
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  margin-top: 30px;
  width: 100%;
  box-sizing: border-box;
}