
.role-selection-container {
    padding: 30px;
    border-radius: 10px;
    background-color: white;
    box-shadow: none;
    text-align: center;
}

.role-selection-container h2 {
    color:#003366; 
    margin-bottom: 30px;
    font-size: 1.8em;
}


.button-group {
    display: flex;
    flex-direction: column; 
    gap: 20px; 
    margin-top: 20px;
    align-items: center; 
}


.role-button {
    padding: 15px 30px;
    font-size: 1.2em;
    border-radius: 10px;
    border: none;
    background-color: #003366;
    color: white; 
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
    width: 280px; 
    max-width: 100%;
    font-weight: bold;
    text-align: center;
    white-space: normal;
    word-wrap: break-word;
}

.role-button:hover {
    background-color: #004080;
    transform: translateY(-3px); 
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}


@media (min-width: 768px) {
    .button-group {
        flex-direction: row;
        justify-content: center;
    }

    .role-button {
        width: 280px; 
    }
}